<div id="topbar-status" class="status-cluster" aria-label="BeamControl service status">
  <span class="service-status online"><i></i><b>Web</b><em>online</em></span>
  <span id="top-can-state" class="service-status {{ can.status_class|default(can.health) }}"><i></i><b>{{ can.channel }}</b><em id="top-can-status">{{ can.status|default(can.health) }}</em></span>
  <span id="top-boards-state" class="service-status {{ service.health }}"><i></i><b>Boards</b><em id="top-boards-status">{{ node_summary.online }}/{{ node_summary.monitored }}</em></span>
</div>
